In [39]:
import seaborn as sns
import pandas as pd
import scipy.stats as stats
import numpy as np

In [5]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'exercise',
 'flights',
 'fmri',
 'gammas',
 'geyser',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'tips',
 'titanic']

In [9]:
tips_data = sns.load_dataset('tips')
tips_data

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [10]:
tips_data.shape

(244, 7)

In [13]:
tips_data.dtypes

total_bill     float64
tip            float64
sex           category
smoker        category
day           category
time          category
size             int64
dtype: object

In [15]:
round(tips_data.describe())

       total_bill    tip   size
count       244.0  244.0  244.0
mean         20.0    3.0    3.0
std           9.0    1.0    1.0
min           3.0    1.0    1.0
25%          13.0    2.0    2.0
50%          18.0    3.0    2.0
75%          24.0    4.0    3.0
max          51.0   10.0    6.0

In [25]:
smoker_test = pd.crosstab(index= tips_data.sex, columns= tips_data.smoker, margins= True
                         )
smoker_test

smoker  Yes   No  All
sex
Male     60   97  157
Female   33   54   87
All      93  151  244

In [38]:
chi_square_tscore,pval,df,exp_table = stats.chi2_contingency(smoker_test)
print('Chi-square score is {}.\np value is {}.\ndf is {}.\nExpected table is \n{}'.format(chi_square_tscore,pval,df,exp_table))

Chi-square score is 0.001934818536627623.
p value is 0.9999995323613375.
df is 4.
Expected table is
[[ 59.84016393  97.15983607 157.        ]
 [ 33.15983607  53.84016393  87.        ]
 [ 93.         151.         244.        ]]