# Assignment (Data cleaning)

In [2]:
import pandas as pd

In [3]:
sales_2017 = pd.read_csv('Sales Transactions-2017.csv')

In [4]:
sales_2018 = pd.read_csv('Sales Transactions-2018.csv')

In [5]:
sales_2019 = pd.read_csv('Sales Transactions-2019.csv')

In [9]:
total_sets = pd.concat([sales_2017,sales_2018,sales_2019])

In [10]:
total_sets

,Date,Voucher,Party,Product,Qty,Rate,Gross,Disc,Voucher Amount
0,1/4/2017,Sal:1,SOLANKI PLASTICS,DONA-VAI-9100,2,"1,690.00","3,380.00",NaN,"13,100.00"
1,1/4/2017,Sal:1,SOLANKI PLASTICS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
2,1/4/2017,Sal:2,SARNESWARA TRADERS,VISHNU CHOTA WINE,500,23,"11,500.00",NaN,"30,990.00"
3,1/4/2017,Sal:2,SARNESWARA TRADERS,LITE FOAM(1200),6,"1,620.00","9,720.00",NaN,NaN
4,1/4/2017,Sal:2,SARNESWARA TRADERS,DONA-VAI-9100,5,"1,690.00","8,450.00",NaN,NaN
...,...,...,...,...,...,...,...,...,...
19171,10/10/2019,Sal:4935,K.SRIHARI,13*16 WHITE RK,400,16,"6,400.00",NaN,NaN
19172,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19174,NaN,Total,NaN,NaN,"99,284.90","175,381.65","2,203,649.50","20,680.00","2,189,014.50"
19175,NaN,Total,NaN,NaN,"2,710,193.00","5,519,888.40","53,360,791.40","672,984.00","52,830,224.40"

In [11]:
total_sets.isnull().sum()

Date               12591
Voucher            12557
Party                 40
Product            12591
Qty                12557
Rate               12558
Gross              12558
Disc              105609
Voucher Amount     83646
dtype: int64

In [12]:
total_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111206 entries, 0 to 19175
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            98615 non-null   object
 1   Voucher         98649 non-null   object
 2   Party           111166 non-null  object
 3   Product         98615 non-null   object
 4   Qty             98649 non-null   object
 5   Rate            98648 non-null   object
 6   Gross           98648 non-null   object
 7   Disc            5597 non-null    object
 8   Voucher Amount  27560 non-null   object
dtypes: object(9)
memory usage: 8.5+ MB

In [16]:
total_sets['Date'] = pd.to_datetime(total_sets['Date'].str.strip())

In [17]:
total_sets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111206 entries, 0 to 19175
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Date            95562 non-null   datetime64[ns]
 1   Voucher         98649 non-null   object
 2   Party           111166 non-null  object
 3   Product         98615 non-null   object
 4   Qty             98649 non-null   object
 5   Rate            98648 non-null   object
 6   Gross           98648 non-null   object
 7   Disc            5597 non-null    object
 8   Voucher Amount  27560 non-null   object
dtypes: datetime64[ns](1), object(8)
memory usage: 8.5+ MB

In [ ]:
df.[]